@import '../../themes/themes.scss';

.rsButton {
	font-family: 'Nunito', sans-serif;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border: none;
	cursor: pointer;
	outline: none;
	overflow: hidden;
	border-radius: 4px;
	transition: background 300ms;

	&.wrappingTooltip {
		overflow: visible;
	}

	&.contained,
	&.outlined {
		&.primary,
		&.secondary {
			color: white;
			height: 48px;
			font-size: 25px;
			line-height: 34px;
			font-weight: $fwExtraBold;
			white-space: nowrap;
			box-shadow: none;

			&.small {
				height: 34px;
				font-size: 18px;
				line-height: 26px;
			}

			&:disabled {
				cursor: not-allowed;
			}
		}

		&.primary {
			&.contained {
				background-color: theme-var($primaryPurpleColor);

				&:hover {
					background-color: theme-var($primaryPurpleColor);
					box-shadow: none;
				}
			}

			&.outlined {
				color: theme-var($primaryPurpleColor);
				border: 2px solid theme-var($primaryPurpleColor);
				background-color: white;

				&:hover {
					background-color: white;
				}
			}
		}

		&.secondary {
			&.contained {
				background-color: theme-var($primaryOrangeColor);

				&:hover {
					background-color: theme-var($primaryOrangeColor);
				}
			}

			&.outlined {
				color: theme-var($primaryOrangeColor);
				border: 2px solid theme-var($primaryOrangeColor);
			}

			&:disabled {
				background-color: #f4733638;
			}
		}

		&.danger {
			&.contained {
				background-color: theme-var($errorTextColor);

				&:hover {
					background-color: theme-var($errorTextColor);
				}
			}

			&.outlined {
				border: 2px solid theme-var($errorTextColor);
			}

			&:disabled {
				background-color: #f4433638;
			}
		}
	}

	&.contained {
		box-shadow: 0 3px 9px -2px rgba(0, 0, 0, 0.4);

		&.primary {
			background-color: #ffde59;

			&:hover {
				background-color: #f5c400;
				box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
					0px 1px 10px 0px rgba(0, 0, 0, 0.12);
			}
		}

		&.secondary {
			color: #ffffff;
			background-color: #333333;

			&:hover {
				background-color: #0c0c0c;
			}
		}

		&.tertiary {
		}

		&.text {
			background: none;

			&.primary {
				color: #cca300;

				&:hover {
					background: #fffdf2;
				}
			}

			&.secondary {
				color: black;

				&:hover {
					background: #efefef;
				}
			}

			&.tertiary {
			}
		}

		&.outlined {
			background: #fff;

			&.primary {
				border: 1px solid #d8ba40;

				&:hover {
					background: #fbf8eb;
				}
			}

			&.secondary {
				border: 1px solid #666666;

				&:hover {
					background: #efefef;
				}
			}

			&.tertiary {
			}
		}

		&.none {
			background: none;
			padding: 0;
			border-radius: 0;
		}

		> .ripple {
			position: absolute;
			background: #fff;
			transform: translate(-50%, -50%);
			pointer-events: none;
			border-radius: 50%;
			animation: ripples 0.6s linear infinite;
		}

		@keyframes ripples {
			0% {
				width: 0;
				height: 0;
				opacity: 0.5;
			}
			100% {
				width: 500px;
				height: 500px;
				opacity: 0;
			}
		}
	}
}
