$switchLength: 56px;
$switchWidth: 30px;
$sliderDemension: 26px;
$sliderBackgroundColor: #ccc;

.rsSwitch {
	display: inline-block;
	text-align: center;

	.rsSwitchLabelLeftRight {
		display: inline-flex;
		min-height: $switchWidth;
		align-items: center;
		&.vertical {
			min-height: $switchLength;
		}
	}
	.rsSwitchLabelTopBottom {
		width: 100%;
		text-align: center;
		clear: both;
		margin: 0 0 5px 0;
	}
	.rsSwitchControl {
		position: relative;
		display: inline-block;
		width: $switchLength;
		height: $switchWidth;
		vertical-align: top;
		margin: 0 5px;

		input {
			opacity: 0;
			width: 0;
			height: 0;
		}

		.slider {
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: $sliderBackgroundColor;
			-webkit-transition: 0.4s;
			transition: 0.4s;
		}

		.slider:before {
			position: absolute;
			content: '';
			height: $sliderDemension;
			width: $sliderDemension;
			left: 2px;
			bottom: 2px;
			background-color: white;
			-webkit-transition: 0.4s;
			transition: 0.4s;
		}

		input:checked + .slider {
			background-color: red;
		}

		input:focus + .slider {
			box-shadow: 0 0 1px red;
		}

		input:checked + .slider:before {
			-webkit-transform: translateX($sliderDemension);
			-ms-transform: translateX($sliderDemension);
			transform: translateX($sliderDemension);
		}

		/* Rounded sliders */
		.slider.round {
			border-radius: 32px;
		}

		.slider.round:before {
			border-radius: 50%;
		}

		&.vertical {
			width: $switchWidth;
			height: $switchLength;

			input:checked + .slider:before {
				-webkit-transform: translateY(-$sliderDemension);
				-ms-transform: translateY(-$sliderDemension);
				transform: translateY(-$sliderDemension);
			}
		}
	}
}
